In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame({'year': [2020,2020,2020],
                   'month': [6,6,6],
                   'day': [1,2,3]})
df = pd.to_datetime(df)

In [11]:
cal0 = pd.DataFrame({'dd':[12,12,12]},index = df)

In [12]:
dti = pd.date_range('2020-06-01', periods=92*24, freq='H')

In [13]:
dti_frame = pd.DataFrame(index=dti)

In [20]:
def get_day_name(inp, fre='D'):
    return pd.Timestamp(inp, freq=fre).day_name()
def get_day_nameH(inp, fre='H'):
    return pd.Timestamp(inp, freq=fre)
day_names = list(map(get_day_name , dti))

In [21]:
hier_index = list(zip(dti,day_names))
hier_index = pd.MultiIndex.from_tuples(hier_index)
dti_frame.set_index(hier_index , inplace=True)

In [53]:
name_of_project = 'Thesis'
start_day = pd.Timestamp('2020-06-02 10:00:00' , freq='H')
end_day = pd.Timestamp('2020-07-04 10:00:00' , freq='H')
length_of_project = (end_day-start_day).days
freq_of_days = 3
num_of_attempts = int(length_of_project/freq_of_days)+1
days_of_attempts = pd.date_range(start_day , periods=num_of_attempts , freq=str(freq_of_days*24)+'H')
days_of_attempts = list(map(get_day_nameH , days_of_attempts))

dti_frame[name_of_project] = np.zeros(len(dti_frame))

dti_frame[name_of_project].loc[days_of_attempts] = 1.0

11.0

In [45]:
tt = pd.DataFrame({'h':range(10)})
tt['h'][1,2,4]=1
tt

   h
0  0
1  1
2  1
3  3
4  1
5  5
6  6
7  7
8  8
9  9

# Grouping

In [9]:
# dti_frame['Language'] = np.zeros(len(dti))
# dti_frame['Python'] = np.zeros(len(dti))
# dti_frame['Charcoal'] = np.zeros(len(dti))
# dti_frame['Sticks'] = np.zeros(len(dti))
# dti_frame['Teach'] = np.zeros(len(dti))

# outside = 'Edu Edu Edu Work Work Work'.split()
# inside = 'Language Python Thesis Charcoal Stocks Teaching'.split()
# hier_index = list(zip(outside,inside))
# hier_index = pd.MultiIndex.from_tuples(hier_index)
# test_df = dti_frame.T
# hier_index
# test_df.set_index(hier_index)

In [10]:
ll = [1,2,3,4]
list(map(np.sqrt,ll))

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]